/* -------------------------------------UTILS---------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.center {
  width: 100%;
  text-align: center;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
/* -------------------------------------GENERAL---------------------------------------- */
html,
body,
.bg {
  width: 100%;
}
body,
a {
  color: #cabad5;
  /* color: #def1f6; */
  font-family: "Neuton", serif;
}
p {
  font-size: 1.2rem;
}
li {
  font-size: 1.5rem;
}
a:hover {
  color: cyan;
}
.bg {
  background-color: #0e0119;
  /* background-size: cover; */
  background-image: url("./images/glitter.png");
  background-repeat: repeat;
}
h1 {
  text-align: center;
  padding: 0.5rem;
  /* color: #cabad5; */
  margin-bottom: 2rem;
}
/* -------------------------------------NAV---------------------------------------- */
nav {
  margin-bottom: 1rem;
}
.nav-wrapper {
  display: flex;
  justify-content: flex-end;
}
.nav-wrapper a {
  padding: 0.7rem;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.2rem;
}
/* ------------------------------------PROJECTS STYLES---------------------------------------- */
.electro-project,
.health-tracker-project {
  display: flex;
  align-items: center;
}
a:hover {
  scale: 1.2;
  text-decoration: overline;
}
.electro-pic {
  height: 135px;
  width: 100px;
  background-image: url("./images/light-bulb.png");
  background-size: 5rem;
  background-repeat: no-repeat;
}
.health-tracker-project {
  flex-direction: row-reverse;
}
.health-tracker-pic {
  height: 130px;
  width: 115px;
  background-image: url("./images/healthy-lifestyle.png");
  background-size: 7rem;
  background-repeat: no-repeat;
}
.electro-project details {
  flex-basis: 225px;
}
.health-tracker-project details {
  flex-basis: 130px;
}
details a {
  font-size: 20px;
}
.btn-more {
  background-color: transparent;
  border-color: #c0a4d4;
  color: #c0a4d4;
  margin-bottom: 2rem;
}
.btn-more:hover {
  background-color: aliceblue;
}
.more-projects p {
  padding: 0.5rem;
  margin: 0 auto;
  font-size: 3.5rem;
}
/* -------------------------------------SKILLS---------------------------------------- */
.skills-pic {
  height: 130px;
  width: 115px;
  flex-basis: 170px;
  background-image: url("./images/skills.png");
  background-size: 7rem;
  background-repeat: no-repeat;
}
.skills-wrap {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}
.skills summary {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.skills p {
  font-size: 1.4rem;
}
.skills-wrap ul {
  justify-content: space-evenly;
  font-size: 1.2rem;
}
.skills-wrap ul {
  margin-right: 5rem;
}
@media (max-width: 800px) {
  .skills-wrap {
    flex-direction: column;
    padding: 0 1rem;
  }
  .skills-pic {
    padding: 0 1.5rem;
  }
}
/* -------------------------------------ABOUT---------------------------------------- */
#about {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

#about p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.7rem;
}
.my-img {
  max-width: 120px;
  max-height: 240px;
  margin-right: 1rem;
}
/* -------------------------------------FOOTER---------------------------------------- */
.social {
  display: flex;
  justify-content: flex-end;
}
.social a,
.social p {
  margin: 0.3rem;
}
